*{ 
box-sizing: border-box;
font-family: sans-serif;
color: white;
}

body{
background-color: black;
width: 100%;
margin: 0;


}
.top {
display: flex;
justify-content: space-between;
align-items: center;
height: 40px;
width: 100%;
background-color: rgb(43, 42, 42);


}
.top p{
color: white;
margin-left: 15px;
font-size: 18px;


}
.top p span{
color: rgb(40, 124, 40);
font-weight:lighter;
font-size: medium;
}
.top button{
background-color: rgb(77, 187, 77);
padding: 5px 15px;
border-radius: 5px;
border: none;
margin-right: 15px;

}
.top a{
text-decoration: none;
color: white;
}
nav{
 display: flex;
 justify-content: space-around;
 align-items: center;
 height: 80px;
 background-color: rgb(31, 30, 30);
 padding:15px 10px 25px 10px;
}
nav .left-nav{
    line-height: 0;
    text-align: center;
    
}
nav h1{
    color: aqua;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 22px;
  
}
nav p{
    color: white;
    font-size: 8px;
    letter-spacing: 3px;
    
  
    
}
nav a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    margin-left: 20px;

    
}
nav .right-nav :hover{
    color: aqua;
    font-size: large;
}
.fa-magnifying-glass{
    font-size: 15px;
    
    color: rgb(50, 126, 126);
    padding: 35px 20px;
    translate: 0 3px;
}

.portfolio{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 60px;
}
.portfolio .img img {
    width: 230px;
    height: 230px;
    margin: 5px;

}
.portfolio .img  :hover{
    scale: 1.1;
    
}
.portfolio h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.portfolio .text h5{
    width: 60%;
    color: gray;
    font-weight: lighter;
    line-height: 25px;
    translate: 180px;
    
}
.imagebackground{
    
    width: 100%;
    height: 400px;
    margin-bottom:px;
    
}
 .partfolio2{
    display: flex;
    justify-content: center;
   align-items: center;
    height: 400px;
    background-color: rgba(82, 82, 82, 0.329);
    padding: 50px 200px ;
    translate: 0 -406px;
}
.partfolio2 .left p{
   font-size: 12px;
   color: rgb(65, 155, 155);
   letter-spacing: 1px;
   font-weight: bolder;
   padding-top: 30px;
   
}
.partfolio2 .left h1{
    font-size: 37px;
    padding-top: 0px;
    margin-top: 0;
}
.partfolio2 .left h5 , .partfolio2 .right h5 , .partfolio3 .bottom h5 , .partfolio3 .top2 h5{
    font-size: 11px;
    color: rgba(233, 232, 232, 0.678);
    width: 80%;
    line-height: 20px;
    margin-top: 5px;

}
.partfolio2 .right{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.548) ;
    width: 400px;
    height: 170px;
    padding: 20px 15px;
    margin-top: 60px ;
    
}
.partfolio2 .right p{
    font-size: 12px;
    color: rgb(53, 51, 51);
}
.partfolio3{
    display: grid;

    grid-template-rows: 200px 1fr;
    translate: 0 -320px;

}

.partfolio3 .top2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partfolio3 .bottom{
    display: grid;
    grid-template-columns: repeat(3 ,250px);
    justify-content: center;
    column-gap: 25px;
    margin-top: 35px;
}
.partfolio3 .bottom h2{
    font-size: 18px;
    color: rgb(87, 172, 172);
}
.partfolio3 .bottom span{
    display: flex;
}
.partfolio3 .bottom i{
    font-size: 16px;
    color: rgb(80, 187, 187);
}
.partfolio3 .bottom h4{
    font-size: 10px;
   
    margin: 4px 25px 10px 11px;

}